.btn {
    display: block;
    border: 2px solid var(--main-color);
    height: 42px;
    width: 130px;
    font-family: "Roboto Condensed", sans-serif;
    cursor: pointer;
    background: transparent;
    color: var(--main-color);
}

.btn-dark {
    color: var(--bg-color);
    background: var(--main-color);
    border-color: var(--bg-color);
}
