.header {
    height: 100px;
    border-bottom: 1px solid var(--main-color);
    display: flex;
    justify-content: center;
}
.wrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.header__btn {
    display: block;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    height: 42px;
    width: 130px;
    font-family: "Roboto Condensed", sans-serif;
    cursor: pointer;
}

.header__name {
    font-size: 1.5rem;
    width: 130px;
    font-weight: 500;
}
