.light {
    background: var(--bg-color);
    color: var(--main-color);

    & .header {
        border-color: var(--main-color);
    }
}

.dark {
    background: var(--main-color);
    color: var(--bg-color);
    & .header {
        border-color: var(--bg-color);
    }

    & .header__btn {
        border-color: var(--bg-color);
    }
}

.header {
    height: 100px;
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
}
.wrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.header__btn {
    display: block;
    background: none;
    border: 2px solid var(--main-color);
    height: 42px;
    width: 130px;
    font-family: "Roboto Condensed", sans-serif;
    cursor: pointer;
    color: inherit;
}

.header__name {
    font-size: 1.5rem;
    width: 130px;
    font-weight: 500;
}

.theme-btn {
    position: absolute;
    background: none;
    border: none;
    left: 25px;
    top: 40px;
    font-size: 1rem;
    cursor: pointer;
    color: inherit;
}
