.light {
    border-color: var(--main-color);
    & nav {
        background: var(--bg-color);
    }
}

.dark {
    border-color: var(--bg-color);
    & nav {
        background: var(--main-color);
    }
}

.burger-btn {
    position: relative;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid;
    cursor: pointer;
    color: inherit;
}

.burger-btn i {
    font-size: 1.2rem;
}

.burger-btn nav {
    display: block;
    width: max-content;
    position: absolute;
    border: 2px solid;
    top: 37px;
    right: -2px;
}

.burger-btn nav ul {
    display: block;
    & li {
        padding: 1rem 2.5rem;
        font-size: 1rem;
    }
    & li:not(:first-child) {
        border-top: 2px solid;
    }
}
