.post {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.post__header {
    min-height: 2rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.post__btn {
    width: 100%;
}
