.post {
    margin-block: 2rem;
    position: relative;
}

.post__header {
    font-size: 1.875rem;
    margin-bottom: 0.5rem;
}

.post__body {
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post__body-expanded {
    white-space: inherit;
}

.post-btn {
    width: 20px;
    height: 20px;
    border: none;
    display: block;
    background: transparent;
    position: relative;
    margin-left: 0.5rem;
    cursor: pointer;
    margin: 10px auto;
}

.post-btn::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 3px;
    width: 10px;
    height: 10px;
    border: 4px solid;
    border-left: none;
    border-bottom: none;
    transform: rotate(135deg);
    border-color: var(--main-color);
}

.post__body-expanded ~ .post-btn::before{
    transform: rotate(-45deg);
}
