@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./assets/all.min.css");

:root {
    --main-color: rgba(44, 54, 63, 1);
    --bg-color: rgba(242, 245, 234, 1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    font-family: "Roboto Condensed", sans-serif;
}

.light {
    background: var(--bg-color);
    color: var(--main-color);
}

.dark {
    background: var(--main-color);
    color: var(--bg-color);
}
