.slide {
    overflow: hidden;
    margin-inline: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    flex-shrink: 0;
}

.slide__image {
    height: 100%;
}