.slide {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(200px, 60vh, 500px);
    width: 100%;
    flex-shrink: 0;
}

.slide__image {
    height: 100%;
}